{% if length == 0  %}

  <ul class="list-group">
    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
      <div>None blocked. </div>
    </li>
  </ul>

{% else %}
  <!-- Matched Table-->
  <div class="table-responsive p-0">
    <table class="table align-items-center justify-content-center mb-0">

      <thead> <!-- Column headers-->
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Netid</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for user in blockedusers %} <!-- Loop through blocked people and make table rows-->
          <tr>

            <td>
              <div class="d-flex px-2 my-auto">
                <h6 class="mb-0 text-sm">{{ user.name }}</h6>
              </div>
            </td>
            <td>
              <p class="text-sm font-weight-bold mb-0">{{ user.netid }}</p>
            </td>
            
            <td class="align-middle">
              <!-- Unblock button-->
              <div class="ms-auto text-end">
              <!--<form action="{{ url_for('matching.matched') }}" method="post">-->
                  <button class="btn btn-link text-danger text-gradient px-3 mb-0" type="button" id="unblockButton" onClick="modifyBlocked('{{ user.netid }}')">
                    <i class="fas fa-user-slash me-2" aria-hidden="true"></i> Unblock</button>

              <!--</form>-->
              </div>
            </td>

          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

  <script>
    // from buddies.html
  // Submits a request when "Match" button is pressed
  function modifyBlocked(delnetid) {
    // let sessionindex = $('#indexInput').val(); 
    $.ajax({
      type: 'POST',
      url: '/blockedtable',
      data: {"delnetid": delnetid},
      success: function(response) {
        $("#blockedTable").html(response)
      },
      error: function(xhr, textstatus, errorthrown) {
        console.log(xhr, textstatus, errorthrown)
      }
    })
  }
  </script>
{% endif %}
