{% if noMatches: %}
  <div class="row text-align:center">
    <h6 class="text-capitalize">No more matches :( </h6>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 text-sm-right">
      <form action="{{url_for('matching.search')}}" method="get"> 
          <!-- <button class="btn btn-primary btn-sm">Match</button> -->
          <button id="refreshButton" type="submit" class="btn btn-secondary btn-sm">Refresh Matches</button>   
          
      </form> 
    </div>
    <div class="col-md-6 text-sm-left">
        <form action="{{url_for('home.profile')}}">
          <!-- Pass button -->
          <button id="editButton" class="btn btn-secondary btn-sm" type="submit" >Edit Matching Preferences</button>
        </form>
    </div>
  </div>
{% else %}
<div class="row">
  <div class="col-md-6">
    <!-- Person's Schedule -->
    <main id="calendar" style="display: flex;
    justify-content:center;
    align-items: center;">
      {% include 'calendar.html' %}
    </main>
  </div>
  <div class="col-md-6">
    <!-- Person's Profile Card -->
    <div class="card z-index-2 h-90">
      <div class="card-header pb-0 pt-3 bg-transparent">
          <h6 class="text-capitalize">Profile</h6>
      <div class="card-body pt-2">
        <!--<span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2"> testandie </span>-->
        <a href="javascript:;" class="card-title h5 d-block text-darker">
          {{ g.user.name }}
        </a>
        <p class="card-description mb-4">
          <br>
          Bio: {{ g.user.bio }}
        </p>
        <p class="card-description mb-4">
          Level: {{ level }}
        </p>
        <p class="card-description mb-4">
          Interests: {{ interests }}
        </p>
        <p class="card-description mb-4">
          Additional Information: {{ g.user.addinfo }}
        </p>
        <input id="indexInput" type="hidden" name="index" value="{{ session.get('index') }}"></input>
        <input id = "matchRequest" type="hidden" name="destnetid" value="{{ g.user.netid }}"></input>
      </div>
    </div>
  </div>
</div>
<br>
          <div class="row mt-4">
            <div class="col-md-6 text-sm-right">
              <!-- <form action="{{url_for('matching.search')}}" method="post"> -->
                  <!-- <button class="btn btn-primary btn-sm">Match</button> -->
                  <button id="matchButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#requestSent">Match</button>   
                  
              <!-- </form> -->
            </div>
            <div class="col-md-6 text-sm-left">
                <!--<form action="{{url_for('matching.search')}}" method="get">-->
                  <!-- Pass button -->
                  <button id="passButton" class="btn btn-primary btn-sm" type="button" >Pass</button>
            
                <!--</form>-->
            </div>
          </div>
{% endif %}