{% if noMatches: %}
  <div class="row text-align:center">
    <h6 class="text-capitalize">No more matches :( </h6>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 text-sm-right">
      <form action="{{url_for('matching.search')}}" method="get"> 
          <!-- <button class="btn btn-primary btn-sm">Match</button> -->
          <button id="refreshButton" type="submit" class="btn btn-secondary btn-sm">Refresh Matches</button>   
          
      </form> 
    </div>
    <div class="col-md-6 text-sm-left">
        <form action="{{url_for('home.profile')}}">
          <!-- Pass button -->
          <button id="editButton" class="btn btn-secondary btn-sm" type="submit" >Edit Matching Preferences</button>
        </form>
    </div>
  </div>
{% else %}
<div class="row">
  <div class="col-md-6">
    <!-- Person's Schedule -->
    <!-- Calendar -->
        <div class="col-md-6">
          <div class="card card-profile">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6 class="text-capitalize">Your Schedule</h6>
            </div>
            <!-- <form action="{{ url_for('home.profile') }}" method="post"> -->
              <div class="card-body p-3">
                <link rel="stylesheet" type="text/css" href="../static/style.css">
                <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
                <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
                <style>
                body { font-family:'roboto'; background-color:#ECF0F1; }
                </style>

                <div id="day-schedule"></div>
              <br>
                <button class="btn btn-primary btn-sm ms-auto" type="button" name="update" value="schedule" id="updateCalendar" >Update</button>
              </div>
            <!-- </form> -->
          </div>
        </div>
    <main>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
      <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
      <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
      <style>
      /* body { font-family:'roboto'; background-color:#ECF0F1; } */
      </style>
      <div class="card z-index-2 h-90">
        <div class="card-header pb-0 pt-3 bg-transparent">
        <div id="day-schedule"></div>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
          <script src="../static/indexdash.js"></script>
          <script>
            (function ($) {
              $("#day-schedule").dayScheduleSelector({
                days: [0, 1, 2, 3, 4, 5, 6],
                interval: 60,
                startTime: '06:00',
                endTime: '24:00'
              });
              const calendar = '{{ jsoncalendar|safe }}'
              const parsed = JSON.parse(calendar)
              $("#day-schedule").on('selected.artsy.dayScheduleSelector', function (e, selected) {
                console.log(selected);
              })
              $("#day-schedule").data("artsy.dayScheduleSelector").deserialize(parsed);
              $("#day-schedule").on('selected.artsy.dayScheduleSelector', function (e, selected) {
                console.log(selected);
              })
              // $("#day-schedule").data('artsy.dayScheduleSelector').deserialize({
              //   '0': [['09:30', '11:00'], ['13:00', '16:30']],
              // });
        
            })($);
          </script>
            </div>
          </div>
          <!-- console.log("SERIALIZE", $("#day-schedule").data('artsy.dayScheduleSelector').serialize())})($); -->
      </body>
    </main>
  </div>
  <div class="col-md-6">
    <!-- Person's Profile Card -->
    <div class="card z-index-2 h-90">
      <div class="card-header pb-0 pt-3 bg-transparent">
          <h6 class="text-capitalize">Profile</h6>
      <div class="card-body pt-2">
        <!--<span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2"> testandie </span>-->
        <a href="javascript:;" class="card-title h5 d-block text-darker">
          {{ g.user.name }}
        </a>
        <p class="card-description mb-4">
          <br>
          Bio: {{ g.user.bio }}
        </p>
        <p class="card-description mb-4">
          Level: {{ level }}
        </p>
        <p class="card-description mb-4">
          Interests: {{ interests }}
        </p>
        <p class="card-description mb-4">
          Additional Information: {{ g.user.addinfo }}
        </p>
        <input id="indexInput" type="hidden" name="index" value="{{ session.get('index') }}"></input>
        <input id = "matchRequest" type="hidden" name="destnetid" value="{{ g.user.netid }}"></input>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row mt-4">
  <div class="col-md-6 text-sm-right">
              <!-- <form action="{{url_for('matching.search')}}" method="post">  -->
                  <!-- <button class="btn btn-primary btn-sm">Match</button> -->
                  <!-- <input id = "matchRequest" type="hidden" name="destnetid" value="{{ g.user.netid }}"></input>
                  <input id="indexInput" type="hidden" name="index" value="{{ session.get('index') }}"></input> -->
    <button id="matchButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#requestSent" onClick="sendReq()">Match</button>   
                  
              <!-- </form>  -->
  </div>
  <div class="col-md-6 text-sm-left">
                <!--<form action="{{url_for('matching.search')}}" method="get">-->
                  <!-- Pass button -->
    <button id="passButton" class="btn btn-primary btn-sm" type="button" onClick="getBuddies()">Pass</button>
            
                <!--</form>-->
  </div>
</div>
<script src="../static/index.js"></script>
<script>
  function setup() {

    $("#day-schedule").dayScheduleSelector({
      days: [0, 1, 2, 3, 4, 5, 6],
      interval: 60,
      startTime: '06:00',
      endTime: '24:00'
    });
    const calendar = '{{ jsoncalendar|safe }}'
    const parsed = JSON.parse(calendar)
    console.log(calendar, parsed)

    $("#day-schedule").data("artsy.dayScheduleSelector").deserialize(parsed);
    $("#day-schedule").on('selected.artsy.dayScheduleSelector', function (e, selected) {
      console.log(selected);
    })

    $('#updateCalendar').click( function() {
      const calendar = $("#day-schedule").data("artsy.dayScheduleSelector").serialize();

      $.ajax({
        type:'POST',
        url:'/profile',
        data: { "update": "schedule", "jsoncalendar": JSON.stringify(calendar) },
        success: function(response) {
          alert( "Submitted");
        }
      })
    });
  }

  $("document").ready(setup);
</script>
{% endif %}