<table>
  <tr>
    <td></td>
    <td>Sun</td>
    <td>Mon</td>
    <td>Tue</td>
    <td>Wed</td>
    <td>Thu</td>
    <td>Fri</td>
    <td>Sat</td>
  </tr>
  <!--
  <tr>
    <td>00:00-01:00</td>
    <td><input type="checkbox" name="0:0" {{ s0_0 }} /></td>
    <td><input type="checkbox" name="1:0" {{ s1_0 }} /></td>
    <td><input type="checkbox" name="2:0" {{ s2_0 }} /></td>
    <td><input type="checkbox" name="3:0" {{ s3_0 }} /></td>
    <td><input type="checkbox" name="4:0" {{ s4_0 }} /></td>
    <td><input type="checkbox" name="5:0" {{ s5_0 }} /></td>
    <td><input type="checkbox" name="6:0" {{ s6_0 }} /></td>
  </tr>
  <tr>
    <td>01:00-02:00</td>
    <td><input type="checkbox" name="0:1" {{ s0_1 }} /></td>
    <td><input type="checkbox" name="1:1" {{ s1_1 }} /></td>
    <td><input type="checkbox" name="2:1" {{ s2_1 }} /></td>
    <td><input type="checkbox" name="3:1" {{ s3_1 }} /></td>
    <td><input type="checkbox" name="4:1" {{ s4_1 }} /></td>
    <td><input type="checkbox" name="5:1" {{ s5_1 }} /></td>
    <td><input type="checkbox" name="6:1" {{ s6_1 }} /></td>
  </tr>
  <tr>
    <td>02:00-03:00</td>
    <td><input type="checkbox" name="0:2" {{ s0_2 }} /></td>
    <td><input type="checkbox" name="1:2" {{ s1_2 }} /></td>
    <td><input type="checkbox" name="2:2" {{ s2_2 }} /></td>
    <td><input type="checkbox" name="3:2" {{ s3_2 }} /></td>
    <td><input type="checkbox" name="4:2" {{ s4_2 }} /></td>
    <td><input type="checkbox" name="5:2" {{ s5_2 }} /></td>
    <td><input type="checkbox" name="6:2" {{ s6_2 }} /></td>
  </tr>
  <tr>
    <td>03:00-04:00</td>
    <td><input type="checkbox" name="0:3" {{ s0_3 }} /></td>
    <td><input type="checkbox" name="1:3" {{ s1_3 }} /></td>
    <td><input type="checkbox" name="2:3" {{ s2_3 }} /></td>
    <td><input type="checkbox" name="3:3" {{ s3_3 }} /></td>
    <td><input type="checkbox" name="4:3" {{ s4_3 }} /></td>
    <td><input type="checkbox" name="5:3" {{ s5_3 }} /></td>
    <td><input type="checkbox" name="6:3" {{ s6_3 }} /></td>
  </tr>
  <tr>
    <td>04:00-05:00</td>
    <td><input type="checkbox" name="0:4" {{ s0_4 }} /></td>
    <td><input type="checkbox" name="1:4" {{ s1_4 }} /></td>
    <td><input type="checkbox" name="2:4" {{ s2_4 }} /></td>
    <td><input type="checkbox" name="3:4" {{ s3_4 }} /></td>
    <td><input type="checkbox" name="4:4" {{ s4_4 }} /></td>
    <td><input type="checkbox" name="5:4" {{ s5_4 }} /></td>
    <td><input type="checkbox" name="6:4" {{ s6_4 }} /></td>
  </tr>
  <tr>
    <td>05:00-06:00</td>
    <td><input type="checkbox" name="0:5" {{ s0_5 }} /></td>
    <td><input type="checkbox" name="1:5" {{ s1_5 }} /></td>
    <td><input type="checkbox" name="2:5" {{ s2_5 }} /></td>
    <td><input type="checkbox" name="3:5" {{ s3_5 }} /></td>
    <td><input type="checkbox" name="4:5" {{ s4_5 }} /></td>
    <td><input type="checkbox" name="5:5" {{ s5_5 }} /></td>
    <td><input type="checkbox" name="6:5" {{ s6_5 }} /></td>
  </tr>
  -->
  <tr>
    <td>06:00-07:00</td>
    <td><input type="checkbox" name="0:6" {{ s0_6 }} /></td>
    <td><input type="checkbox" name="1:6" {{ s1_6 }} /></td>
    <td><input type="checkbox" name="2:6" {{ s2_6 }} /></td>
    <td><input type="checkbox" name="3:6" {{ s3_6 }} /></td>
    <td><input type="checkbox" name="4:6" {{ s4_6 }} /></td>
    <td><input type="checkbox" name="5:6" {{ s5_6 }} /></td>
    <td><input type="checkbox" name="6:6" {{ s6_6 }} /></td>
  </tr>
  <tr>
    <td>07:00-08:00</td>
    <td><input type="checkbox" name="0:7" {{ s0_7 }} /></td>
    <td><input type="checkbox" name="1:7" {{ s1_7 }} /></td>
    <td><input type="checkbox" name="2:7" {{ s2_7 }} /></td>
    <td><input type="checkbox" name="3:7" {{ s3_7 }} /></td>
    <td><input type="checkbox" name="4:7" {{ s4_7 }} /></td>
    <td><input type="checkbox" name="5:7" {{ s5_7 }} /></td>
    <td><input type="checkbox" name="6:7" {{ s6_7 }} /></td>
  </tr>
  <tr>
    <td>08:00-09:00</td>
    <td><input type="checkbox" name="0:8" {{ s0_8 }} /></td>
    <td><input type="checkbox" name="1:8" {{ s1_8 }} /></td>
    <td><input type="checkbox" name="2:8" {{ s2_8 }} /></td>
    <td><input type="checkbox" name="3:8" {{ s3_8 }} /></td>
    <td><input type="checkbox" name="4:8" {{ s4_8 }} /></td>
    <td><input type="checkbox" name="5:8" {{ s5_8 }} /></td>
    <td><input type="checkbox" name="6:8" {{ s6_8 }} /></td>
  </tr>
  <tr>
    <td>09:00-10:00</td>
    <td><input type="checkbox" name="0:9" {{ s0_9 }} /></td>
    <td><input type="checkbox" name="1:9" {{ s1_9 }} /></td>
    <td><input type="checkbox" name="2:9" {{ s2_9 }} /></td>
    <td><input type="checkbox" name="3:9" {{ s3_9 }} /></td>
    <td><input type="checkbox" name="4:9" {{ s4_9 }} /></td>
    <td><input type="checkbox" name="5:9" {{ s5_9 }} /></td>
    <td><input type="checkbox" name="6:9" {{ s6_9 }} /></td>
  </tr>
  <tr>
    <td>10:00-11:00</td>
    <td><input type="checkbox" name="0:10" {{ s0_10 }} /></td>
    <td><input type="checkbox" name="1:10" {{ s1_10 }} /></td>
    <td><input type="checkbox" name="2:10" {{ s2_10 }} /></td>
    <td><input type="checkbox" name="3:10" {{ s3_10 }} /></td>
    <td><input type="checkbox" name="4:10" {{ s4_10 }} /></td>
    <td><input type="checkbox" name="5:10" {{ s5_10 }} /></td>
    <td><input type="checkbox" name="6:10" {{ s6_10 }} /></td>
  </tr>
  <tr>
    <td>11:00-12:00</td>
    <td><input type="checkbox" name="0:11" {{ s0_11 }} /></td>
    <td><input type="checkbox" name="1:11" {{ s1_11 }} /></td>
    <td><input type="checkbox" name="2:11" {{ s2_11 }} /></td>
    <td><input type="checkbox" name="3:11" {{ s3_11 }} /></td>
    <td><input type="checkbox" name="4:11" {{ s4_11 }} /></td>
    <td><input type="checkbox" name="5:11" {{ s5_11 }} /></td>
    <td><input type="checkbox" name="6:11" {{ s6_11 }} /></td>
  </tr>
  <tr>
    <td>12:00-13:00</td>
    <td><input type="checkbox" name="0:12" {{ s0_12 }} /></td>
    <td><input type="checkbox" name="1:12" {{ s1_12 }} /></td>
    <td><input type="checkbox" name="2:12" {{ s2_12 }} /></td>
    <td><input type="checkbox" name="3:12" {{ s3_12 }} /></td>
    <td><input type="checkbox" name="4:12" {{ s4_12 }} /></td>
    <td><input type="checkbox" name="5:12" {{ s5_12 }} /></td>
    <td><input type="checkbox" name="6:12" {{ s6_12 }} /></td>
  </tr>
  <tr>
    <td>13:00-14:00</td>
    <td><input type="checkbox" name="0:13" {{ s0_13 }} /></td>
    <td><input type="checkbox" name="1:13" {{ s1_13 }} /></td>
    <td><input type="checkbox" name="2:13" {{ s2_13 }} /></td>
    <td><input type="checkbox" name="3:13" {{ s3_13 }} /></td>
    <td><input type="checkbox" name="4:13" {{ s4_13 }} /></td>
    <td><input type="checkbox" name="5:13" {{ s5_13 }} /></td>
    <td><input type="checkbox" name="6:13" {{ s6_13 }} /></td>
  </tr>
  <tr>
    <td>14:00-15:00</td>
    <td><input type="checkbox" name="0:14" {{ s0_14 }} /></td>
    <td><input type="checkbox" name="1:14" {{ s1_14 }} /></td>
    <td><input type="checkbox" name="2:14" {{ s2_14 }} /></td>
    <td><input type="checkbox" name="3:14" {{ s3_14 }} /></td>
    <td><input type="checkbox" name="4:14" {{ s4_14 }} /></td>
    <td><input type="checkbox" name="5:14" {{ s5_14 }} /></td>
    <td><input type="checkbox" name="6:14" {{ s6_14 }} /></td>
  </tr>
  <tr>
    <td>15:00-16:00</td>
    <td><input type="checkbox" name="0:15" {{ s0_15 }} /></td>
    <td><input type="checkbox" name="1:15" {{ s1_15 }} /></td>
    <td><input type="checkbox" name="2:15" {{ s2_15 }} /></td>
    <td><input type="checkbox" name="3:15" {{ s3_15 }} /></td>
    <td><input type="checkbox" name="4:15" {{ s4_15 }} /></td>
    <td><input type="checkbox" name="5:15" {{ s5_15 }} /></td>
    <td><input type="checkbox" name="6:15" {{ s6_15 }} /></td>
  </tr>
  <tr>
    <td>16:00-17:00</td>
    <td><input type="checkbox" name="0:16" {{ s0_16 }} /></td>
    <td><input type="checkbox" name="1:16" {{ s1_16 }} /></td>
    <td><input type="checkbox" name="2:16" {{ s2_16 }} /></td>
    <td><input type="checkbox" name="3:16" {{ s3_16 }} /></td>
    <td><input type="checkbox" name="4:16" {{ s4_16 }} /></td>
    <td><input type="checkbox" name="5:16" {{ s5_16 }} /></td>
    <td><input type="checkbox" name="6:16" {{ s6_16 }} /></td>
  </tr>
  <tr>
    <td>17:00-18:00</td>
    <td><input type="checkbox" name="0:17" {{ s0_17 }} /></td>
    <td><input type="checkbox" name="1:17" {{ s1_17 }} /></td>
    <td><input type="checkbox" name="2:17" {{ s2_17 }} /></td>
    <td><input type="checkbox" name="3:17" {{ s3_17 }} /></td>
    <td><input type="checkbox" name="4:17" {{ s4_17 }} /></td>
    <td><input type="checkbox" name="5:17" {{ s5_17 }} /></td>
    <td><input type="checkbox" name="6:17" {{ s6_17 }} /></td>
  </tr>
  <tr>
    <td>18:00-19:00</td>
    <td><input type="checkbox" name="0:18" {{ s0_18 }} /></td>
    <td><input type="checkbox" name="1:18" {{ s1_18 }} /></td>
    <td><input type="checkbox" name="2:18" {{ s2_18 }} /></td>
    <td><input type="checkbox" name="3:18" {{ s3_18 }} /></td>
    <td><input type="checkbox" name="4:18" {{ s4_18 }} /></td>
    <td><input type="checkbox" name="5:18" {{ s5_18 }} /></td>
    <td><input type="checkbox" name="6:18" {{ s6_18 }} /></td>
  </tr>
  <tr>
    <td>19:00-20:00</td>
    <td><input type="checkbox" name="0:19" {{ s0_19 }} /></td>
    <td><input type="checkbox" name="1:19" {{ s1_19 }} /></td>
    <td><input type="checkbox" name="2:19" {{ s2_19 }} /></td>
    <td><input type="checkbox" name="3:19" {{ s3_19 }} /></td>
    <td><input type="checkbox" name="4:19" {{ s4_19 }} /></td>
    <td><input type="checkbox" name="5:19" {{ s5_19 }} /></td>
    <td><input type="checkbox" name="6:19" {{ s6_19 }} /></td>
  </tr>
  <tr>
    <td>20:00-21:00</td>
    <td><input type="checkbox" name="0:20" {{ s0_20 }} /></td>
    <td><input type="checkbox" name="1:20" {{ s1_20 }} /></td>
    <td><input type="checkbox" name="2:20" {{ s2_20 }} /></td>
    <td><input type="checkbox" name="3:20" {{ s3_20 }} /></td>
    <td><input type="checkbox" name="4:20" {{ s4_20 }} /></td>
    <td><input type="checkbox" name="5:20" {{ s5_20 }} /></td>
    <td><input type="checkbox" name="6:20" {{ s6_20 }} /></td>
  </tr>
  <tr>
    <td>21:00-22:00</td>
    <td><input type="checkbox" name="0:21" {{ s0_21 }} /></td>
    <td><input type="checkbox" name="1:21" {{ s1_21 }} /></td>
    <td><input type="checkbox" name="2:21" {{ s2_21 }} /></td>
    <td><input type="checkbox" name="3:21" {{ s3_21 }} /></td>
    <td><input type="checkbox" name="4:21" {{ s4_21 }} /></td>
    <td><input type="checkbox" name="5:21" {{ s5_21 }} /></td>
    <td><input type="checkbox" name="6:21" {{ s6_21 }} /></td>
  </tr>
  <tr>
    <td>22:00-23:00</td>
    <td><input type="checkbox" name="0:22" {{ s0_22 }} /></td>
    <td><input type="checkbox" name="1:22" {{ s1_22 }} /></td>
    <td><input type="checkbox" name="2:22" {{ s2_22 }} /></td>
    <td><input type="checkbox" name="3:22" {{ s3_22 }} /></td>
    <td><input type="checkbox" name="4:22" {{ s4_22 }} /></td>
    <td><input type="checkbox" name="5:22" {{ s5_22 }} /></td>
    <td><input type="checkbox" name="6:22" {{ s6_22 }} /></td>
  </tr>
  <tr>
    <td>23:00-24:00</td>
    <td><input type="checkbox" name="0:23" {{ s0_23 }} /></td>
    <td><input type="checkbox" name="1:23" {{ s1_23 }} /></td>
    <td><input type="checkbox" name="2:23" {{ s2_23 }} /></td>
    <td><input type="checkbox" name="3:23" {{ s3_23 }} /></td>
    <td><input type="checkbox" name="4:23" {{ s4_23 }} /></td>
    <td><input type="checkbox" name="5:23" {{ s5_23 }} /></td>
    <td><input type="checkbox" name="6:23" {{ s6_23 }} /></td>
  </tr>
</table>
