{% extends 'layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block classdash %}<a class="nav-link active" href="../home">{% endblock %}
{% block classfind %}<a class="nav-link " href="{{ url_for('matching.findabuddy') }}">{% endblock %}
{% block classreq %}<a class="nav-link " href="{{ url_for('matching.incoming') }}">{% endblock %}
{% block classmat %}<a class="nav-link " href="{{ url_for('matching.matched') }}">{% endblock %}
{% block classprof %}<a class="nav-link " href="{{ url_for('home.profile') }}">{% endblock %}
{% block classsett %}<a class="nav-link" href="{{ url_for('home.settings') }}">{% endblock %}
{% block classmast %}<a class="nav-link " href="{{ url_for('master.show') }}">{% endblock %}

{% block pagename %}<li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>{% endblock %}
{% block pagename_large %}Dashboard{% endblock %}
{% block content %}
<!-- End Navbar -->

<div class="row">
  <div class="col-12">
    <div class="card">
      <h class="font-weight-bolder p-3 " style="font-size:xx-large;text-align: center;"> You Look Great Today </h>
    </div>
  </div>
</div>

<div class="row mt-4">

  <div class="col-lg-7 mb-lg-0 mb-4">
    <div class="card z-index-2 h-80 scrolling-wrapper">

      <div class="card-header pb-0 pt-3 bg-transparent">
        <h6 class="text-capitalize">Your Matches</h6>
      </div>

      <div class="card-body p-3">
        <div id="day-schedule"></div>
      </div>

    </div>
  </div>

  <div class="col-lg-5 mb-lg-0 mb-4">
    <div class="card z-index-2 h-90">
      <div class="card-header pb-0 pt-3 bg-transparent">

        <h6 class="text-capitalize">Profile</h6>
        <div class="card-body pt-2">
          <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">{{ netid }}</span>
          <a href="javascript:;" class="card-title h5 d-block text-darker">
            Hello, {{ user.name }}
          </a>
          <p class="card-description mb-4">
            Gender: {{ gender }}
          </p>
          <p class="card-description mb-4">
            Bio: {{ user.bio }}
          </p>
          <p class="card-description mb-4">
            Contact: {{ user.contact }}
          </p>
          <p class="card-description mb-4">
            Level: {{ level }}
          </p>
          <p class="card-description mb-4">
            Interests: {{ interests }}
          </p>
          <p class="card-description mb-4">
            Additional Information: {{ user.addinfo }}
          </p>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
  <script>
    function setup() {
      $("#day-schedule").dayScheduleSelector({
        days: [0, 1, 2, 3, 4, 5, 6],
        interval: 60,
        startTime: '06:00',
        endTime: '24:00',
        interactive: false,
      });
      console.log("lmao what is this");

      const calendar = '{{ jsoncalendar|safe }}'
      const parsed = JSON.parse(calendar)
      console.log(calendar, parsed)
      $("#day-schedule").data("artsy.dayScheduleSelector").deserializeDashboard(parsed);
      $("#day-schedule").on('selected.artsy.dayScheduleSelector', function (e, selected) {
        console.log(selected);
      })

    }

    $("document").ready(setup)
  </script>
{% endblock %}

