<!-- no incoming requests-->
{% if requestUsers|length == 0: %}
  <ul class="list-group">
    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
      No incoming requests.
    </li>
  </ul>
{% else: %}
  <!-- Incoming Requests List-->
  <ul class="list-group">
  {% for i in range(requestUsers|length): %}
    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">

      <div class="d-flex flex-column">
        {{ requestUsers[i].name }}
      </div>

      <div class="ms-auto text-end">

        <div>
          <button
            id="acceptButton" class="btn btn-link text-danger text-gradient px-3 mb-0"
            type="button"
            onClick="act('{{ url_for('matching.incomingtable')}}', '#requestTable', {{ requests[i].requestid }}, 'reject')"}
          ><i class="far fa-trash-alt me-2"></i>Delete</button>
          <button
            class="btn btn-link text-dark px-3 mb-0"
            type="submit"
            onClick="act('{{ url_for('matching.incomingtable')}}', '#requestTable', {{ requests[i].requestid }}, 'accept')"}
          ><i class="fas fa-check text-success me-2" aria-hidden="true"></i>Accept</button>
        </div>

        <button id="wtf" type="button" class="btn btn-block mb-3" data-toggle="modal" data-target="#Popup"
          onClick="getCard({{ requests[i].requestid }}, '{{ url_for('matching.incomingmodal') }}')">
          See Request Details
        </button>

      </div>

    </li>
  {% endfor %}
</ul>
{% endif %}

<!-- <script> -->
<!--   $("#wtf").click(function() { $("#Popup").modal("show"); console.log("wtf"); }) -->
<!-- </script> -->
