<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Incoming Request </h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Accept or modify this request. Gray boxes show their availability. Select new times by clicking on gray boxes, or deselect times by clicking on blue boxes. 
    <div class="card-body">
      <div class="row">

        <!-- Person's Schedule -->
        <div class="col-md-6 scrolling-wrapper">
          <div class="p-3">
            <div id="day-schedule"></div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card z-index-2 h-90">
            <div class="card-header pb-0 pt-3 bg-transparent">

              <h6 class="text-capitalize">Profile</h6>
              <div class="card-body pt-2">
                <!--<span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2"> testandie </span>-->
                <div class="card-title h5 d-block text-darker">
                  {{ user.name }}
                </div>
                <p class="card-description mb-4">
                  <br>
                  Bio: {{  user.bio }}
                </p>
                <!--<p class="card-description mb-4">
                  Contact:
                </p>-->
                <p class="card-description mb-4">
                  Level: {{ level }}
                </p>
                <p class="card-description mb-4">
                  Interests: {{ interests }}
                </p>
                <p class="card-description mb-4">
                  Additional Information: {{  user.addinfo }}
                </p>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <input id = "modifyRequest" type="hidden" name="destnetid" value="{{ user.netid }}"></input>
        <input id = "requestId" type ="hidden" name="requestid" value="{{requestid}}"></input>
        <div class="d-flex justify-content-center">
          <button id="requestButton" type="button" class="btn btn-box px-3 mb-0" onClick="makeRequest()" ><i class="fa-sharp fa-solid fa-pencil me-2 "></i>Modify</button>
          <button
          class="btn btn-primary px-3 mb-0"
          type="submit"
          onClick="acceptRequest({{ requestid }})"
        ><i class="fas fa-check me-2" aria-hidden="true"></i>Accept</button>

        </div>
      </div>
    </div>
  </div>

</div>

<script>
  // from buddies.html
// Submits a request when "Match" button is pressed

  function setup() {
    $('#requestButton').on('click', makeRequest);

    $("#day-schedule").dayScheduleSelector({
      days: [0, 1, 2, 3, 4, 5, 6],
      interval: 60,
      startTime: '06:00',
      endTime: '24:00',
      interactive: true
    });

    const calendar = '{{ jsoncalendar|safe }}'
    const parsed = JSON.parse(calendar)
    console.log(calendar, parsed)

    $("#day-schedule").data("artsy.dayScheduleSelector").deserializeModify(parsed);
  }

  $("document").ready(setup);

</script>
