{% set current = "incoming" %}
{% extends 'layout.html' %}
{% block title %}Incoming Requests{% endblock %} 

{% block content %}
<!-- Popup indicating that the request was successful -->
<div class="modal fade bd-example-modal-lg" id="requestSent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" id="closeButton" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card-body">

          <div class="row">
            <img src="../static/pictures/running.png" width="60%">
          </div>
          <div class="row" style="text-align:center">
            <p><span id="requestSentSpan"></span></p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-xl" id="Popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <span id="userPopup"></span>
    <!-- <div class="modal-footer"> -->
    <!--   <button type="button" class="btn btn-secondary" onclick="closeCard()">Close</button> -->
    <!-- </div> -->
    </div>
</div>

<div class="row">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-header pb-0 px-3">
        <h6 class="mb-0">Incoming Requests</h6>
      </div>
      <div class="card-body pt-4 p-3">
        <span id="requestTable"></span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
<script>
  var csrf_token = "{{ csrf_token() }}";
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
      }
    }
  });
  
  url_ids.push(["{{ url_for('matching.incomingtable') }}", "#requestTable"]);

  function makeRequest() {
    const calendar = $("#day-schedule").data("artsy.dayScheduleSelector").serialize();
    let destnetid = $('#modifyRequest').val();
    let requestid = $('#requestId').val();
    console.log(destnetid)
    if (request != null)
      request.abort();

    $("body").addClass("wait");
    $.ajax({
      type: 'POST',
      url: '/matching/incomingmodal',
      data: { "destnetid": destnetid, "jsoncalendar": JSON.stringify(calendar), "requestid":requestid },
      success: function() {
        $("#requestSentSpan").html("Request successfully sent!");
        $("#requestSent").modal("show");
      },
      error: function(xhr, textstatus, errorthrown) { showError(xhr); },
      complete: function() { $("body").removeClass("wait"); },
    })
    $("#Popup").modal("hide");
  }

  function acceptRequest(requestid) {
    if (postrequest != null) {
      console.log("postrequest already in process! breaking!");
      return;
    }

    $("body").addClass("wait");
    postrequest = $.ajax({
      type: "POST",
      data: { "requestid": requestid, "action": "accept" },
      url: "{{ url_for('matching.incomingtable') }}",
      success: function(response) {
        $("#requestSentSpan").html("Match successfully finalized!");
        $('#Popup').modal('hide');
        $("#requestSent").modal("show");
        refresh(response, "#requestTable", false);
      },
      complete: function() {
        postrequest = null;
        $("body").removeClass("wait");
      },
      // error: function(xhr, textstatus, errorthrown) { showOverlapError(xhr); },
      error: function(xhr, textstatus, errorthrown) { showOverlapError(xhr); },
      timeout: ajaxtimeout
    })
  }

  function setup() {
    $("#Popup").on("hide.bs.modal", function() {
      $("#userPopup").html("");
    });
  }
  $('document').ready(setup);
</script>
{% endblock %}
