{% extends 'layout.html' %} {% block title %}Master Debugger{% endblock %} {%
block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}" />
{% endblock %}
{% block classdash %}<a class="nav-link" href="../home">{% endblock %}
  {% block classfind %}<a class="nav-link " href="{{ url_for('matching.search') }}">{% endblock %}
  {% block classreq %}<a class="nav-link " href="{{ url_for('matching.pending') }}">{% endblock %}
  {% block classmat %}<a class="nav-link " href="{{ url_for('matching.matched') }}">{% endblock %}
  {% block classprof %}<a class="nav-link " href="{{ url_for('home.profile') }}">{% endblock %}
  {% block classmast %}<a class="nav-link active" href="{{ url_for('master.show') }}">{% endblock %}
{% block pagename %}<li class="breadcrumb-item text-sm text-white active" aria-current="page">Master Debug</li>{% endblock %}
{% block pagename_large %} Master Debug{% endblock %}
{% block content %}
<div>
  {% if g.user is none%}
  <a href="{{ url_for('home.index') }}" class="nav-link" role="button">back to login page</a>
  {% endif %}

  <form action="{{ url_for('master.show') }}" method="post">
    <div id="container">
      <div id="left">
        <h2>User Profile</h2>
        <table>
          <tr>
            <td><label for="netid">netid</label></td>
            <td><input name="netid" id="netid" value="{{ netid }}" /></td>
          </tr>
          <tr>
            <td><label for="name">name</label></td>
            <td><input name="name" id="name" value="{{ name }}" /></td>
          </tr>
          <tr>
            <td><label for="contact">contact</label></td>
            <td><input name="contact" id="contact" value="{{ contact }}" /></td>
          </tr>
          <tr>
            <td><label for="bio">bio</label></td>
            <td><input name="bio" id="bio" value="{{ bio }}" /></td>
          </tr>
          <tr>
            <td><label for="addinfo">addinfo</label></td>
            <td><input name="addinfo" id="addinfo" value="{{ addinfo }}" /></td>
          </tr>

          <tr>
            <td><label for="level">level</label></td>
            <td>
              <input
                type="radio"
                id="level0"
                name="level"
                value="0"
                {{
                level0
                }}
              />
              <label for="level0">Beginner</label>
              <input
                type="radio"
                id="level1"
                name="level"
                value="1"
                {{
                level1
                }}
              />
              <label for="level1">Intermediate</label>
              <input
                type="radio"
                id="level2"
                name="level"
                value="2"
                {{
                level2
                }}
              />
              <label for="level2">Advanced</label>
            </td>
          </tr>

          <tr>
            <td><label for="open">open</label></td>
            <td>
              <input type="checkbox" id="open" name="open" {{ open }} />
            </td>
          </tr>

          <tr>
            <td><label>preference</label></td>
            <td>
              <label for="okmale">okmale</label>
              <input type="checkbox" id="okmale" name="okmale" {{ okmale }} />
              <label for="okfemale">okfemale</label>
              <input type="checkbox" id="okfemale" name="okfemale" {{ okfemale }}/>
              <label for="okbinary">okbinary</label>
              <input type="checkbox" id="okbinary" name="okbinary" {{ okbinary }} />
            </td>
          </tr>

          <tr>
            <td><label for="gender">gender</label></td>
            <td>
              <input
                type="radio"
                id="male"
                name="gender"
                value="0"
                {{
                male
                }}
              />
              <label for="male">Male</label>
              <input
                type="radio"
                id="female"
                name="level"
                value="1"
                {{
                female
                }}
              />
              <label for="female">Female</label>
              <input
                type="radio"
                id="nonbinary"
                name="level"
                value="2"
                {{
                nonbinary
                }}
              />
              <label for="nonbinary">Nonbinary</label>
            </td>
          </tr>


          <tr>
            <td><label for="interests">interests</label></td>
            <td>
              <input
                type="checkbox"
                id="Cardiovascular Fitness"
                name="interests"
                value="cardio"
                {{
                cardio
                }}
              />
              <label for="Cardiovascular Fitness">Cardiovascular Fitness</label>
              <input
                type="checkbox"
                id="upper"
                name="interests"
                value="upper"
                {{
                upper
                }}
              />
              <label for="Upper Body">Upper Body</label>
              <input
                type="checkbox"
                id="lower"
                name="interests"
                value="lower"
                {{
                lower
                }}
              />
              <label for="Lower Body">Lower Body</label>
              <input
                type="checkbox"
                id="losing"
                name="interests"
                value="losing"
                {{
                losing
                }}
              />
              <label for="Losing Weight">Losing Weight</label>
              <input
                type="checkbox"
                id="gaining"
                name="interests"
                value="gaining"
                {{
                gaining
                }}
              />
              <label for="Gaining Mass">Gaining Mass</label>
            </td>
          </tr>
        </table>
        <h2>Query Results</h2>
        <pre>{{ query }}</pre>
      </div>

      <div id="right">
        <h2>Schedule</h2>
        {% include 'calendar.html' %}
      </div>
    </div>

    <br />
    <h2>User functions</h2>
    <input type="submit" name="submit-user" value="Create" />
    <input type="submit" name="submit-user" value="Update" />
    <input type="submit" name="submit-user" value="Delete" />
    <input type="submit" name="submit-user" value="Query" />
    <input type="submit" name="submit-user" value="Clear" />

    <br />
    <br />
    <h2>Scheduling functions</h2>
    <input
      type="radio"
      id="schedule-match"
      name="which_schedule"
      value="match"
      {{
      schedule_match
      }}
    />
    <label for="schedule-match">Match</label>
    <input
      type="radio"
      id="schedule-pending"
      name="which_schedule"
      value="pending"
      {{
      level1
      }}
    />
    <label for="schedule-pending">Pending</label>
    <input
      type="radio"
      id="schedule-available"
      name="which_schedule"
      value="available"
      {{
      level2
      }}
    />
    <label for="schedule-available">Available</label>
    <input type="submit" name="submit-schedule" value="Get">
    <input type="submit" name="submit-schedule" value="Update">

    <br />
    <br />
    <h2>Request functions</h2>
    <input type="submit" name="submit-request" value="Get">
    <input type="submit" name="submit-request" value="New">
    <input type="submit" name="submit-request" value="Finalize">
    <input type="submit" name="submit-request" value="Modify">
    <input type="submit" name="submit-request" value="Reject">
    <input type="submit" name="submit-request" value="Terminate">
    <input type="submit" name="submit-request" value="Query">
    <br />
    <table>
      <tr>
        <td> <label for="srcnetid">srcnetid</label> </td>
        <td> <input name="srcnetid" id="srcnetid" value="{{ srcnetid }}" /> </td>
      </tr>
      <tr>
        <td> <label for="destnetid">destnetid</label> </td>
        <td> <input name="destnetid" id="destnetid" value="{{ destnetid }}" /> </td>
      </tr>
      <tr>
        <td> <label for="requestid">requestid</label> </td>
        <td> <input type="number" min="0" step="1" name="requestid" id="requestid" value="{{ requestid }}" /> </td>
      </tr>
    </table>

    <br />
    <h2>Matching functions</h2>
    <input type="submit" name="submit-matching" value="Get">


  </form>
  <br />
  <hr />
</div>
{% endblock %}
