{% extends 'layout.html' %}
{% block title %}Matches{% endblock %}
{% block classdash %}<a class="nav-link" href="../home">{% endblock %}
  {% block classfind %}<a class="nav-link " href="{{ url_for('matching.search') }}">{% endblock %}
  {% block classreq %}<a class="nav-link " href="{{ url_for('matching.pending') }}">{% endblock %}
  {% block classmat %}<a class="nav-link active" href="{{ url_for('matching.matched') }}">{% endblock %}
  {% block classprof %}<a class="nav-link " href="{{ url_for('home.profile') }}">{% endblock %}
  {% block classmast %}<a class="nav-link " href="{{ url_for('master.show') }}">{% endblock %}
{% block pagename %}<li class="breadcrumb-item text-sm text-white active" aria-current="page">Matches</li>{% endblock %}
{% block pagename_large %} Matches{% endblock %}

{% block content %}
<!-- Card where matches show up-->
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <h6>Completed</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <span id="matchesTable"></span>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    let lastrefreshed = 0;
    let getrequest = null;
    let postrequest = null;

    // generates list of matches
    function listMatches(response) {
      if (response) {
        lastrefreshed = Date.now();
        $('#matchesTable').html(response);
        console.log("making an update now!", Date.now())
      }
    }

    // unmatch request
    function terminate(requestid) {
      if (postrequest != null)
        return

      postrequest = $.ajax({
        type: 'POST',
        data: {"requestid": requestid, "action": "terminate"},
        url: "{{ url_for('matching.matchedtable') }}",
        success: listMatches,
        complete: function() { postrequest = null; },
        timeout: 3000,
      });
    }

    // refreshes match list
    function refreshMatches() {
      if (getrequest != null || postrequest != null)
        return

      getrequest = $.ajax({
        type: 'GET',
        data: {"lastrefreshed": lastrefreshed},
        url: "{{ url_for('matching.matchedtable') }}",
        success: listMatches,
        complete: function() { getrequest = null; },
        timeout: 3000,
      });
    }

    // sets up page. refreshes every 1000 miliseconds to get most up to date match list
    function setup() {
      refreshMatches();
      window.setInterval(refreshMatches, 1000);
    }
    $('document').ready(setup);
</script>
{% endblock %}
