{% if length ==0  %}

  <ul class="list-group">
    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
      <div>No matches. </div>
    </li>
  </ul>

{% else %}
  <!-- Matched Table-->
  <div class="table-responsive p-0">
    <table class="table align-items-center justify-content-center mb-0">

      <thead> <!-- Column headers-->
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Netid</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Contact</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Time</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for match, user in matchusers %} <!-- Loop through matches and make table rows-->
          <tr>

            <td>
              <div class="d-flex px-2 my-auto">
                <h6 class="mb-0 text-sm">{{ user.name }}</h6>
              </div>
            </td>
            <td>
              <p class="text-sm font-weight-bold mb-0">{{ user.netid }}</p>
            </td>
            <td>
              <p class="text-sm font-weight-bold mb-0">{{ user.contact }}</p>
            </td>
            <td>
              {% for time in range(db.schedule_to_readable(match.schedule)|length) %}
                <p class="text-sm font-weight-bold mb-0">{{ db.schedule_to_readable(match.schedule)[time] }}</p>
                {% endfor %}
            </td>
            <td>
              <p class="text-sm font-weight-bold mb-0">{{ db.RequestStatus(match.status).to_readable() }}</p>
            </td>
            <td class="align-middle">
              <!--
              <div class="dropdown">
              <button class="dropbtn btn-link text-secondary mb-0">
                <i class="fa fa-ellipsis-v text-xs"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
              </div>
              
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="box-shadow:0">
                  <i class="fa fa-ellipsis-v text-xs"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Unmatch</a>
                </div>
              </div>
              -->
              <!-- Unmatch button-->
              <div class="ms-auto text-end">
              <!--<form action="{{ url_for('matching.matched') }}" method="post">-->
                  <!-- <button -->
                  <!--   class="btn btn-link text-secondary  px-3 mb-0" -->
                  <!--   type="button" -->
                  <!--   data-bs-toggle="modal" data-bs-target="#modifyMatchPopup" -->
                  <!--   onClick="getMatchedCard({{ match.requestid }}, '{{ url_for('matching.matchedmodal') }}')" -->
                  <!--   ><i class="fa-sharp fa-solid fa-pencil me-2"></i>Modify</button> -->
                  <button
                    class="btn btn-link text-danger text-gradient px-3 mb-0"
                    type="button"
                    onClick="act('{{ url_for('matching.matchedtable') }}', '#matchesTable', {{ match.requestid }}, 'terminate')"
                    ><i class="fas fa-user-slash me-2">
                    </i>Unmatch</button>
                    
              <!--</form>-->
              </div>
            </td>

          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

{% endif %}
