{% extends 'layout.html' %}
{% block title %}Outgoing Requests{% endblock %}
{% block classdash %}<a class="nav-link" href="../dashboard">{% endblock %}
  {% block classfind %}<a class="nav-link " href="{{ url_for('matching.findabuddy') }}">{% endblock %}
  {% block classreq %}<a class="nav-link " href="{{ url_for('matching.incoming') }}">{% endblock %}
  {% block classreqa %}<a class="nav-link active" href="{{ url_for('matching.outgoing') }}">{% endblock %}
  {% block classmat %}<a class="nav-link" href="{{ url_for('matching.matched') }}">{% endblock %}
  {% block classprof %}<a class="nav-link " href="{{ url_for('home.profile') }}">{% endblock %}
  {% block classsett %}<a class="nav-link" href="{{ url_for('home.settings') }}">{% endblock %}
  {% block classmast %}<a class="nav-link " href="{{ url_for('master.show') }}">{% endblock %}
{% block pagename %}<li class="breadcrumb-item text-sm text-white active" aria-current="page">Outgoing Requests</li>{% endblock %}
{% block pagename_large %}Outgoing Requests{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <h6>Outgoing Requests</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <span id="outgoingTable"></span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
<script>
  function setup() {
    setup_refresh([
      ["{{ url_for('matching.outgoingtable') }}", "#outgoingTable"],
    ]);
  }
  $('document').ready(setup);
</script>
{% endblock %}
