{% set current = "outgoing" %}
{% extends 'layout.html' %}
{% block title %}Outgoing Requests{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <h6>Outgoing Requests</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <span id="outgoingTable"></span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  url_ids.push(["{{ url_for('matching.outgoingtable') }}", "#outgoingTable"]);
</script>
{% endblock %}
