{% extends 'layout.html' %} {% block title %}Incoming Requests{% endblock %} 
{% block classdash %}<a class="nav-link" href="../home">{% endblock %} 
  {% block classfind %}<a class="nav-link" href="{{ url_for('matching.search') }}">{% endblock %} 
  {% block classreq %}<a class="nav-link active" href="{{ url_for('matching.pending') }}">{% endblock %} 
  {% block classmat %}<a class="nav-link" href="{{ url_for('matching.matched') }}">{% endblock %} 
  {% block classprof %}<a class="nav-link" href="{{ url_for('home.profile') }}">{% endblock %} 
  {% block classmast %}<a class="nav-link" href="{{ url_for('master.show') }}">{% endblock %}
  {% block pagename %}<li class="breadcrumb-item text-sm text-white active" aria-current="page">Incoming Requests</li>
{% endblock %} 
{% block pagename_large %}Incoming Requests{%endblock %} 

{% block content %}
<div class="modal fade bd-example-modal-lg" id="Popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
            <!-- <p>You have no requests at this time.</p>-->
      <span id="userPopup"></span>
            <!--  -->
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
</div>
            <div class="row">
              <div class="col-12 mb-4">
                <div class="card">
                  <div class="card-header pb-0 px-3">
                    <h6 class="mb-0">Pending</h6>
                  </div>
                  <div class="card-body pt-4 p-3">
                    <span id="requestTable"></span>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
      let lastrefreshed = 0;
      let request = null;

      function fillCard(response){
        $('#userPopup').html(response);
      }
      function getCard(requestid) {
        if (request != null)
          request.abort();
        console.log(requestid)
        request =$.ajax(
          {
            type: 'POST',
            data: {"requestid": requestid},
            url: '/matching/pendingmodal',
            success: fillCard
          }
        );
        // $('#Popup').modal(options)
        // $('#Popup').show()
        // $("#modal-content").show();
      }
      function listRequests(response)
      {
        if (response) {
          lastrefreshed = Date.now();
          $('#requestTable').html(response);
          console.log("making an update now!", Date.now())
        }
      }

      function act(requestid, action)
      {
        //let sessionindex = $('#indexInput').val();
        console.log(requestid)
        
        if (request != null)
          request.abort();
        request =$.ajax(
          {
            type: 'POST',
            data: {"requestid": requestid, "action": action},
            url: '/matching/pendingtable',
            success: listRequests
          }
        );
      }

      function refreshRequests()
      {
        if (request != null)
          request.abort();
        request =$.ajax(
          {
            type: 'GET',
            data: {"lastrefreshed": lastrefreshed},
            url: '/matching/pendingtable',
            success: listRequests
          }
        );
      }

      function setup()
      {
        refreshRequests()
        window.setInterval(refreshRequests, 1000);
      }
      $('document').ready(setup);
  </script>
{% endblock %}


