{% extends 'layout.html' %} {% block title %}Incoming Requests{% endblock %} 
{% block classdash %}<a class="nav-link" href="../home">{% endblock %} 
  {% block classfind %}<a class="nav-link" href="{{ url_for('matching.search') }}">{% endblock %} 
  {% block classreq %}<a class="nav-link active" href="{{ url_for('matching.pending') }}">{% endblock %} 
  {% block classmat %}<a class="nav-link" href="{{ url_for('matching.matched') }}">{% endblock %} 
  {% block classprof %}<a class="nav-link" href="{{ url_for('home.profile') }}">{% endblock %} 
  {% block classmast %}<a class="nav-link" href="{{ url_for('master.show') }}">{% endblock %}
  {% block pagename %}<li class="breadcrumb-item text-sm text-white active" aria-current="page">Incoming Requests</li>
{% endblock %}
{% block pagename_large %}Incoming Requests{%endblock %}

{% block content %}
<div class="modal fade bd-example-modal-xl" id="Popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <span id="userPopup"></span>
      <!-- <div class="modal-footer"> -->
      <!--   <button type="button" class="btn btn-secondary" onclick="closeCard()">Close</button> -->
      <!-- </div> -->
    </div>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-header pb-0 px-3">
        <h6 class="mb-0">Pending</h6>
      </div>
      <div class="card-body pt-4 p-3">
        <span id="requestTable"></span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  let lastrefreshed = 0;
  let getrequest = null;
  let postrequest = null;

  function fillCard(response) {
    console.log("got a response");
    $('#userPopup').html(response);
  }

  function getCard(requestid) {
    if (getrequest != null) {
      console.log("aborting other getrequests!");
      getrequest.abort();
    }

    getrequest = $.ajax({
      type: 'GET',
      data: {"requestid": requestid},
      url: "{{ url_for('matching.pendingmodal') }}",
      success: fillCard,
      complete: function() { getrequest = null; },
      error: function() { console.log("getCard failed!"); },
      timeout: 3000,
    });
  }

  function listRequests(response) {
    if (response) {
      lastrefreshed = Date.now();
      $('#requestTable').html(response);
      console.log("making an update now!", Date.now())
    }
  }

  function act(requestid, action) {
    if (postrequest != null) {
      console.log("postrequest already in process! breaking!");
      return;
    }

    postrequest = $.ajax({
      type: 'POST',
      data: { "requestid": requestid, "action": action },
      url: "{{ url_for('matching.pendingtable') }}",
      success: listRequests,
      complete: function() { postrequest = null; },
      error: function() { console.log("act failed!"); },
      timeout: 3000,
    });
  }

  function refreshRequests() {
    if (getrequest != null || postrequest != null) {
      console.log("getrequest/postrequest detected");
      return;
    }

    getrequest = $.ajax({
      type: 'GET',
      data: {"lastrefreshed": lastrefreshed},
      url: "{{ url_for('matching.pendingtable') }}",
      success: listRequests,
      complete: function() { getrequest = null; },
      error: function() { console.log("refresh failed!"); },
      timeout: 3000,
    });
  }

  function setup() {
    refreshRequests()
    window.setInterval(refreshRequests, 1000);
    $("#Popup").on("hide.bs.modal", function() {
      console.log("hidden!");
      $("#userPopup").html("");
    });
  }
  $('document').ready(setup);
</script>
{% endblock %}


