{% set current = "profile" %}
{% extends 'layout.html' %}
{% block title %}Profile{% endblock %}

{% block content %}

<div class="modal fade bd-example-modal-lg" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
          <button type="button" id="closeButton" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card-body">

          <div class="row text-center">
            <i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>
          </div>
          <br>
          <div class="row" style="text-align:center">
            <p>Update successful!</p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="profileinvalidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Error</h5>
          <button type="button" id="closeButton" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card-body">

          <div class="row text-center">
            <i class="fa fa-circle-xmark fa-4x" aria-hidden="true"></i>
          </div>
          <br>
          <div class="row" style="text-align:center">
            <p>You have invalid fields.</p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


<div class="container-fluid py-4">


  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <div class="card-header pb-0 pt-3 bg-transparent">
          <!-- <h6 class="text-capitalize">Create Profile</h6>
          
            <button class="btn btn-primary btn-sm ms-auto">Settings</button> -->
            <div class="d-flex align-items-center">
              <h6 class="text-capitalize">Create Profile</h6>
              <a class = "ms-auto" href="{{ url_for('home.settings') }}">
                <i class="fa-solid fa-gear"></i>
              </a>
              <!-- <button class="btn btn-primary btn-sm ms-auto">Settings</button> -->
            </div>
        </div>
        <div class="card-body">
          <span id="profileCard"></span>
        </div>
      </div>
    </div>
    <!-- Calendar -->
    <div class="col-md-6">
      <div class="card card-profile scrolling-wrapper">
        <div class="card-header pb-0 pt-3 bg-transparent">
          <h6 class="text-capitalize">Availability</h6>
                          <p class="text-xs">Please select your availability by clicking a box to activate a time and then dragging up or down to select more times. When selected, a box will become blue. Your potential buddy will be able to select times from your availability to request a match.</p>
        </div>
        <!-- <form action="{{ url_for('home.profile') }}" method="post"> -->
          <div class="card-body p-3">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
            <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
            <!--- <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> --->
            <style>
            body {  background-color:#ECF0F1; }
            </style>

            <div id="day-schedule"></div>
            <br>
            <div class="d-flex">
              <div class="d-flex flex-column">
                <button class="btn btn-primary btn-sm ms-auto" type="button" name="update" value="schedule" id="updateCalendar">Update</button>
              </div>
              <div class="ms-auto text-end">
                <button class="btn btn-sm ms-auto" type="button" id="clearCalendar">Clear</button>
              </div>
            </div>

            <!-- <span class="text-sm" id="lastUpdated"></span> -->
            </div>
          </div>
        <!-- </form> -->
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts%}
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-input-mask-phone-number.js') }}"></script>
<script>
  function showFieldError(element, str, elementError, pattern) {
    if (element.validity.valueMissing) {
      elementError.textContent = "You need to enter a " + str;
    } else if (element.validity.typeMismatch) {
      elementError.textContent = "Entered value needs to be a " + str;
    } else if (element.validity.tooShort) {
      elementError.textContent = str + ' should be at least ' + element.minLength+' characters; you entered ' + element.value.length;
    } else if (element.validity.patternMismatch) {
      console.log("validity:", element.validity);
      console.log("pattern:", element.pattern, element.pattern === "^\\S.*\\S$");
      if (element.pattern === "^\\S.*\\S$") {
        elementError.textContent = "Entered value cannot have leading/trailing whitespace."
      } else {
        elementError.textContent = "Entered value needs to have " + pattern;
      }
    } 
    else if (element.validity.tooLong) {
      // If the data is too short,
      // display the following error message.
      elementError.textContent = str + ' should be at most ' + element.maxLength+' characters; you entered ' + element.value.length;
    }

    // Set the styling appropriately
    elementError.className = "invalid-feedback";
    elementError.style.display = "block";
    element.className = "form-control is-invalid focus"
  }

  function validateGenderPref() {
    okbin = document.getElementById('okbinary');
    okmale = document.getElementById('okmale');
    okfemale = document.getElementById('okfemale');
    return okbin.checked || okmale.checked || okfemale.checked;
  }

  function showGenderPrefError(elementError) {
    if (!validateGenderPref()) {
      elementError.textContent = "Select at least one option";
    } 

    // Set the styling appropriately
    elementError.className = "invalid-feedback";
    elementError.style.display = "block";
    // element.className = "form-control is-invalid focus"
  }

  function validate(name, contact, bio, nameError, contactError, bioError, genderpError) {
    let error  = 0
    if(!name.validity.valid) {
      showFieldError(name, "name", nameError);
      error = 1;
    }
    if (!contact.validity.valid ) {
      showFieldError(contact, "phone number", contactError, "10 digits, no special characters");
      error = 1;
    }
    if (!bio.validity.valid ) {
      showFieldError(bio, "bio", bioError);
      error = 1;
    } if (!validateGenderPref()){
      showGenderPrefError(genderpError);
      error = 1;
    }
    return error;
  }

  function bindEvents() {
    const form = document.getElementById("profileformUpdate");
    const name = document.getElementById("name");
    const contact = document.getElementById("contact");
    const bio = document.getElementById("bio");
    const updatebutton = document.getElementById("profileinfoUpdate");
    const nameError = document.querySelector("#name + span.invalid-feedback");
    const contactError = document.querySelector("#contact + span.invalid-feedback");
    const bioError = document.querySelector("#bio + span.invalid-feedback");
    const genderpError = document.querySelector("#genderPrefFeedback");


    console.log("name:", name);
    console.log("contact:", contact);
    console.log("bio:", bio);
    console.log("nameError:", nameError);
    console.log("contactError:", contactError);
    console.log("bioError:", bioError);
    console.log("genderpError:", genderpError);


    name.addEventListener("focusout", (event) => {
      // Each time the user types something, we check if the
      // form fields are valid.

      console.log("inside name addeventlistener")
      if (name.validity.valid) {
        // In case there is an error message visible, if the field
        // is valid, we remove the error message.
        nameError.textContent = ""; // Reset the content of the message
        nameError.className = "invalid-feedback"; // Reset the visual state of the message
        name.className = "form-control is-valid"
        
      } else {
        // If there is still an error, show the correct error
        showFieldError(name, "name", nameError);
      }
    });

    contact.addEventListener("focusout", (event) => {
      // Each time the user types something, we check if the
      // form fields are valid.

      console.log("inside contact addeventlistener")
      if (contact.validity.valid) {
        // In case there is an error message visible, if the field
        // is valid, we remove the error message.
        contactError.textContent = ""; // Reset the content of the message
        contactError.className = "invalid-feedback"; // Reset the visual state of the message
        contact.className = "form-control is-valid"
        
      } else {
        // If there is still an error, show the correct error
        showFieldError(contact, "phone number", contactError, "10 digits, no special characters");
      }
    });

    bio.addEventListener("focusout", (event) => {
      // Each time the user types something, we check if the
      // form fields are valid.

      console.log("inside bio addeventlistener")
      if (bio.validity.valid) {
        // In case there is an error message visible, if the field
        // is valid, we remove the error message.
        bioError.textContent = ""; // Reset the content of the message
        bioError.className = "invalid-feedback"; // Reset the visual state of the message
        bio.className = "form-control is-valid"
        
      } else {
        // If there is still an error, show the correct error
        showFieldError(bio, "bio", bioError);
      }
    });

    updatebutton.addEventListener("click", (event) => {
      if (validate(name,contact,bio, nameError, contactError, bioError, genderpError)) {
        // showFieldError(contact, "phone number", contactError);
        $("#profileinvalidModal").modal("show");
      }
      else {
        updateprofileCard();
      }
      
    })

  }

  // form.addEventListener("submit", (event) => {
  //   // if the email field is valid, we let the form submit
  //   if (!contact.validity.valid) {
  //     // If it isn't, we display an appropriate error message
  //     showFieldError();
  //     // Then we prevent the form from being sent by canceling the event
  //     event.preventDefault();
  //   }
  // });




  function getprofileCard() {
    if (getrequest != null) {
      console.log("aborting other getrequests!");
    }
    console.log("making getrequest for profilecard")
    getrequest = $.ajax({
      type: 'GET',
      url: "/profileCard",
      success: function(response) {
        $("#profileCard").html(response);
        bindEvents();
      },
      complete: function() { getrequest = null; },
      error: function() { console.log("getprofileCard failed!"); },
      timeout: ajaxtimeout,
    });
  }

  function updateprofileCard() {
    if (postrequest != null) {
      console.log("aborting other postrequests!");
    }

    $("body").addClass("wait");
    console.log("making postrequest for profilecard")
    getrequest = $.ajax({
      type: 'POST',
      data: $("#profileformUpdate").serialize(),
      url: "/profileCard",
      success: function(response) {
        $("#profileCard").html(response);
        bindEvents();
      },
      complete: function() { 
        postrequest = null; 
        $("body").removeClass("wait"); 
        $('#profileModal').modal('show');
      },
      error: function() { console.log("updateprofileCard failed!"); },
      timeout: ajaxtimeout,
    });
  }

  function setup() {
   
    getprofileCard();
    

    $("#day-schedule").dayScheduleSelector({
      days: [0, 1, 2, 3, 4, 5, 6],
      interval: 60,
      startTime: '06:00',
      endTime: '24:00',
      interactive: true,
      restricted: false,
      drag: true,
    });
    const calendar = '{{ jsoncalendar|safe }}'
    const parsed = JSON.parse(calendar)
    console.log(calendar, parsed)

    $("#day-schedule").data("artsy.dayScheduleSelector").deserializeProfile(parsed);

    $("#day-schedule").on('selected.artsy.dayScheduleSelector', function (e, selected) {
      console.log(selected);
    })
    

    $('#updateCalendar').click( function() {
      const calendar = $("#day-schedule").data("artsy.dayScheduleSelector").serialize();

      if (postrequest !== null)
        return;

      $("body").addClass("wait");
      postrequest = $.ajax({
        type:'POST',
        url:'/profile',
        data: {"update": "schedule", "jsoncalendar": JSON.stringify(calendar) },
        success: function(response) {
          console.log("successfully updated profile calendar");
        },
        // success: function(response) {
        //   let lastupdated = new Date()
        //   $.ajax({
        //     type:'GET',
        //     url:'/profileupdated',
        //     data: {"lastupdated":lastupdated},
        //     success: function(response) {
        //       $('#lastUpdated').html(response);
        //     }
        //   })
        // },
        complete: function(response) {
          postrequest = null;
          $("body").removeClass("wait");
          $('#profileModal').modal('show');
        }
      })
    });

    $("#clearCalendar").click( function() {
      console.log("???");
      $("#day-schedule").data("artsy.dayScheduleSelector").clear();
    });

  }

  $("document").ready(setup);

</script>

{% endblock %}
