{% extends 'layout.html' %}
{% block title %}Search{% endblock %}
{% block classdash %}<a class="nav-link" href="../home">{% endblock %}
  {% block classfind %}<a class="nav-link active" href="{{ url_for('matching.search') }}">{% endblock %}
  {% block classreq %}<a class="nav-link " href="{{ url_for('matching.pending') }}">{% endblock %}
  {% block classmat %}<a class="nav-link" href="{{ url_for('matching.matched') }}">{% endblock %}
  {% block classprof %}<a class="nav-link " href="../profile.html">{% endblock %}
  {% block classmast %}<a class="nav-link " href="{{ url_for('master.show') }}">{% endblock %}
{% block pagename %}<li class="breadcrumb-item text-sm text-white active" aria-current="page">Find a Buddy</li>{% endblock %}
{% block pagename_large %} Find a Buddy {% endblock %}

{% block content %}
  <p>Find a buddy</p>
{% endblock %}
