{% extends 'layout.html' %}
{% block title %}Search{% endblock %}
{% block classdash %}<a class="nav-link" href="../home">{% endblock %}
  {% block classfind %}<a class="nav-link active" href="{{ url_for('matching.search') }}">{% endblock %}
  {% block classreq %}<a class="nav-link " href="{{ url_for('matching.pending') }}">{% endblock %}
  {% block classmat %}<a class="nav-link" href="{{ url_for('matching.matched') }}">{% endblock %}
  {% block classprof %}<a class="nav-link " href="{{ url_for('home.profile') }}">{% endblock %}
  {% block classmast %}<a class="nav-link " href="{{ url_for('master.show') }}">{% endblock %}
{% block pagename %}<li class="breadcrumb-item text-sm text-white active" aria-current="page">Find a Buddy</li>{% endblock %}
{% block pagename_large %} Find a Buddy {% endblock %}

{% block content %}
<!-- Popup indicating that the request was successful -->
<div class="modal fade bd-example-modal-lg" id="requestSent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" id="closeButton" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card-body">

          <div class="row">
            <img src="{{url_for('static', filename='running.png')}}" width="60%">
          </div>
          <div class="row" style="text-align:center">
            <p>Request Successfully Sent!</p>
          </div>

          <div class="row">

            <div class="col-md-6 text-sm-center" >
              <form action="{{url_for('matching.outgoing')}}" method="get">
                <button type="submit" id="goToMatches" class="btn btn-primary btn-sm" onClick="sendReq">See Outgoing Requests</button>
              </form>
            </div>
            <div class="col-md-6 text-sm-center">
              <form action="{{url_for('matching.search')}}" method="get">
                <button type="submit" id="searchAgain" class="btn btn-primary btn-sm">Keep Looking</button>
              </form>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- Main Card where potential buddies show up-->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-header pb-0 pt-3 bg-transparent">
          <h6 class="text-capitalize">Find a Buddy</h6>
        </div>
        <div class="card-body">
          <span id="buddies"></span>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  'use strict';
  let request = null;

  // function goHome() {
  //   request = $.ajax(
  //     {
  //       url: '/home/'
  //     }
  //   );
  // }
  function goProfile() {
    request = $.ajax(
      {
        url: '/home/profile'
      }
    );
  }

  // sends a match request by submitting data to "/matching/search"
  function sendReq()
  {
    let destnetid = $('#matchRequest').val();
    let sessionindex = $('#indexInput').val();
    console.log(destnetid)
    if (request != null)
      request.abort();
    request = $.ajax(
      {
        type: 'POST',
        data: {"destnetid": destnetid, "index": sessionindex},
        url: '/matching/search'
      }
    );
  }

  // takes response generated by getBuddies() and inserts html in #buddies span tag above
  function listBuddies(response)
  {
    $('#buddies').html(response);
  }

  // let request = null;
  // gets the next potential match from list
  function getBuddies()
  {
    let sessionindex = $('#indexInput').val();
    console.log(sessionindex)
    if (request != null)
      request.abort();


    $("body").addClass("wait");
    request = $.ajax(
      {
        type: 'GET',
        data: {"index": sessionindex},
        url: '/matching/buddies',
        success: listBuddies,
        complete: function() { $("body").removeClass("wait"); },
      }
    );
  }

  // sets up the page 
  function setup()
  {
    getBuddies();
    $('#passButton').on('click', getBuddies);
    $('#matchButton').on('click', sendReq);
    // $('#homeButton').on('click', goHome);
    $('#refreshButton').on('click', getBuddies);
    $('#editButton').on('click', goProfile)
    $('#closeButton').on('click', getBuddies)
  }
  $('document').ready(setup);
</script>
{% endblock %}
