<input type="hidden" id="update" name="update" value="true">
<div class="row">
  <div class="form-group">
    <label for="notifications" class="form-control-label">SMS Notifications</label>
    <p class="text-xs">Receive updates by SMS when someone requests a match or accepts one.</p>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name = "notifications" id="notifications" {% if notification %} checked {% endif %}>
      <label class="form-check-label" for="notifications">Receive alerts</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group">
    <label for="email" class="form-control-label">Phone Number:</label>
    <p class="text-xs">(from Profile)</p>
    <input name="email" id="email" class="form-control" type="text" value="{{ user.contact }}" readonly>
  </div>
</div>